<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> <head>
    <meta charset="UTF-8">
    <title>BookCatalog</title>
    <link rel='stylesheet' media='screen' href='/css/bootstrap.min.css'>
    <script type='text/javascript' src='/js/bootstrap.min.js'></script>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">BookCatalog</span>
</nav> <br>
<div class="container">
    <div class="row">
        <div class="col">
            <h5>Books</h5>
        </div>
    </div>
    <a href="/add-book">Add Book</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">title</th>
            <th scope="col">author</th>
            <th scope="col">year</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${books}">
            <td th:text="${book.title}"/>
            <td th:text="${book.author}"/>
            <td th:text="${book.year}"/>
            <td>
                <div class="row">
                    <div class="col-6">
                        <a class="btn btn-info btn-sm inline" th:href="@{/book-detail/{bookId}/(bookId=${book.id})}">details</a>
                    </div>
                    <div class="col-6">
                        <form method="post" action="#" th:action="@{/delete-book}" th:object="${book}">
                            <input type="hidden" th:value="*{id}" id="id" name="id"/>
                            <input class="btn btn-danger btn-sm" type="submit" value="delete">
                        </form>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>